{% extends 'films/layout.html' %}

{% block content %}
<h2>Добавить новый фильм про Хищника</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Проверьте правильность заполнения формы.
            {{ form.errors }}  <!-- Здесь будут выводиться ошибки формы -->
        </div>
    {% endif %}

    <div class="mb-3">
        {{ form.title.label_tag }} {{ form.title }}
    </div>
    <div class="mb-3">
        {{ form.poster.label_tag }} {{ form.poster }}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }} {{ form.description }}
    </div>
    <div class="mb-3">
        {{ form.release_date.label_tag }} {{ form.release_date }}
    </div>
    <div class="mb-3">
        {{ form.review.label_tag }} {{ form.review }}
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}
